/* index.css */
@import 'bootstrap/dist/css/bootstrap.min.css';

:root {
    --dark-bg: #2e2e2e;
    --dark-text: #f1f1f1;
    --mid-bg: #3a3f44;
    --button-bg: #5c5c5c;
    --button-bg-hover: #707070;

    /* Variables para la Home */
    --primary-color: #3a3f44;
    --secondary-color: #2e2e2e;
    --light-text: #f1f1f1;
    --button-text: #f1f1f1;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--dark-bg);
    color: var(--dark-text);
    font-family: 'Roboto', sans-serif;
}

.navbar-custom {
    background-color: var(--mid-bg);
}

.navbar-custom .nav-link {
    color: var(--dark-text);
    transition: color 0.3s ease;
}

.navbar-custom .nav-link:hover {
    color: #ffffff;
}

.btn-custom {
    background-color: var(--button-bg);
    border-color: var(--button-bg);
    color: var(--dark-text);
    transition: background-color 0.3s, border-color 0.3s;
    border-radius: 4px;
    padding: 0.5rem 1rem;
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
}

.btn-custom:hover {
    background-color: var(--button-bg-hover);
    border-color: var(--button-bg-hover);
    color: var(--dark-text);
}

.react-flow__node,
.react-flow__node * {
    color: #000 !important;
}

.project-form-container {
    /* Ejemplo de degradado similar a la Home */
    background: linear-gradient(135deg, var(--primary-color), var(--secondary-color));
    min-height: 100vh; /* Para ocupar toda la ventana */
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--light-text); /* Texto claro */
}

.project-form-content {
    /* Un contenedor centrado y con fondo semitransparente opcional */
    background-color: rgba(0, 0, 0, 0.3);
    padding: 2rem;
    border-radius: 8px;
    text-align: center;
}
