/* index.css */

/* Importa Bootstrap */
@import 'bootstrap/dist/css/bootstrap.min.css';

/* Reseteo global y fondo oscuro */
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #2e2e2e; /* Fondo oscuro */
}

#root {
    height: 100%;
}

/* Variables de color para modo oscuro */
:root {
    --dark-bg: #2e2e2e;
    --dark-text: #f1f1f1;
    --mid-bg: #3a3f44;
    --button-bg: #5c5c5c;
    --button-bg-hover: #707070;
    --primary-color: #3a3f44;
    --secondary-color: #2e2e2e;
    --light-text: #f1f1f1;
    --button-text: #f1f1f1;
}

body {
    font-family: 'Roboto', sans-serif;
    color: var(--dark-text);
}

/* Navbar fija */
.navbar-custom {
    background-color: var(--mid-bg);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000; /* Asegura que la barra quede sobre el contenido */
}

.navbar-custom .nav-link {
    color: var(--dark-text);
    transition: color 0.3s ease;
}

.navbar-custom .nav-link:hover {
    color: #ffffff;
}

/* Botones custom */
.btn-custom {
    background-color: var(--button-bg);
    border: none;
    color: #fff !important;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
    transition: background-color 0.3s, border-color 0.3s;
}

.btn-custom:hover {
    background-color: var(--button-bg-hover);
}

/* Asegurar íconos en color blanco dentro de btn-custom */
.btn-custom svg {
    color: #fff !important;
}
